In [4]:
import numpy as np
import pandas as pd 

import pylab as plt
import seaborn as sns

%matplotlib inline #gráficos

UsageError: unrecognized arguments: #gráficos

In [7]:
df = pd.read_csv('attacks.csv', encoding='latin1')
df.columns = [x.lower() for x in df.columns] #poner los nombres de las columnas en minus
df

,case number,date,year,type,country,area,location,activity,name,sex,...,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.info(memory_usage='deep') #con esto se puede ver el tipo de dato. Hay MUY POCOS numéricos, no es bueno para gráfico

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case number             8702 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal (y/n)             5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator or source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case number.1           6302 non-null   object
 20  case number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  unnamed: 22             1 non-null      object
 23  unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [9]:
num_df=df.select_dtypes(exclude='object') #estas van a ser las columnas con valores NUMÉRICOS

num_df.columns

Index(['year', 'original order'], dtype='object')

In [10]:
num_df.describe().T

,count,mean,std,min,25%,50%,75%,max
year,6300.0,1927.272381,281.116308,0.0,1942.0,1977.0,2005.0,2018.0
original order,6309.0,3155.999683,1821.396206,2.0,1579.0,3156.0,4733.0,6310.0

In [11]:
cat_df=df.select_dtypes(include='object') #Estas son las columnas con valores categóricos o NO numéricos
                #href formula significa 
cat_df.columns #voy a cambiar el tipo de dato a las columnas de: case number, date, age, time, case number.1 y case number.2

Index(['case number', 'date', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex ', 'age', 'injury', 'fatal (y/n)', 'time',
       'species ', 'investigator or source', 'pdf', 'href formula', 'href',
       'case number.1', 'case number.2', 'unnamed: 22', 'unnamed: 23'],
      dtype='object')

In [ ]:
#case number.1 y case number.2 son duplicados de case number
#El case number original parece que se genera a partir de la fecha, pero sirve para identificar. Puede ser 'id'. 
#En realidad hay 16 columnas útiles las otras 7 son 2 duplicadas, 2 de páginas web, 1 original order, 2 de troleo. 
#de las 16 útiles, 2 son numéricas. 
#Comprobar que todas las columnas tengan, cada una, el mismo tipo de valor

In [12]:
#cambiar nombre de columnas
df.rename(columns={'case number':'case_number', 'fatal (y/n)': 'fatal_yn', 'investigator or source': 'investigator_source', 'href formula': 'href_formula','case number.1':'case_n1' , 'case number.2': 'case_n2','original order':'original_order', 'unnamed: 22':'unnamed_2', 'unnamed: 23':'Unnamed_3'}, inplace=True)
df.head()   #Se podría haber hecho con .replace

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_source,pdf,href_formula,href,case_n1,case_n2,original_order,unnamed_2,Unnamed_3
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [ ]:
#HACER DESPUÉS
#reemplazar nan por 0s
#df.Unnamed_22.replace(np.nan, value = 0.0, inplace = True)
#df.Unnamed_23.replace(np.nan, value = 0.0, inplace = True)

In [13]:
df.dropna(subset=['date'])   #recortar los valores nulos de fecha
df.shape

(25723, 24)

In [14]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   case_number          8702 non-null   object
 1   date                 6302 non-null   object
 2   year                 6300 non-null   float64
 3   type                 6298 non-null   object
 4   country              6252 non-null   object
 5   area                 5847 non-null   object
 6   location             5762 non-null   object
 7   activity             5758 non-null   object
 8   name                 6092 non-null   object
 9   sex                  5737 non-null   object
 10  age                  3471 non-null   object
 11  injury               6274 non-null   object
 12  fatal_yn             5763 non-null   object
 13  time                 2948 non-null   object
 14  species              3464 non-null   object
 15  investigator_source  6285 non-null   object
 16  pdf                  6302 non-null   object
 17  href_formula         6301 non-null   object
 18  href                 6302 non-null   object
 19  case_n1              6302 non-null   object
 20  case_n2              6302 non-null   object
 21  original_order       6309 non-null   float64
 22  unnamed_2            1 non-null      object
 23  Unnamed_3            2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [15]:
df['unnamed_2'].dropna(inplace=True)
df.unnamed_2.value_counts()   #hay un valor tipo int: 'stopped here'. A saber dónde

stopped here    1
Name: unnamed_2, dtype: int64

In [16]:
#borrar filas de nulos. Seleccionarlas y borrar por abajo
df.case_number.value_counts() #contar las filas con cierto valor

0               2400
1920.00.00.b       2
1966.12.26         2
2014.08.02         2
1990.05.10         2
                ...
1999.09.05         1
1999.09.10         1
1999.09.16         1
1999.09.18         1
xx                 1
Name: case_number, Length: 6287, dtype: int64

In [17]:
df.date.value_counts()

1957                          11
1942                           9
1956                           8
1958                           7
1950                           7
                              ..
01-Dec-1994                    1
Reported      10-Dec-1994      1
11-Dec-1994                    1
13-Dec-1994                    1
1845-1853                      1
Name: date, Length: 5433, dtype: int64

In [18]:
len(df.date.unique()) #Date tiene 5434 filas nulas. Buscar datos con letras y cambiar

5434

In [19]:
data_un = df.date.unique()
data_un

array(['25-Jun-2018', '18-Jun-2018', '09-Jun-2018', ..., '1883-1889',
       '1845-1853', nan], dtype=object)

In [ ]:
#df.Date.dropna()
#df['Date'].dropna(inplace=True)
#df.drop('Date', axis=1, inplace=True)
#df.Date.value_counts()

In [20]:
df.dropna(axis = 'index', how= 'all', inplace= True) #Meterle un tajazo a TODAS las filas del índice que tengan todo valores NaN
df.shape

(8703, 24)

In [21]:
df.year.value_counts() #sólo 249 filas
len(df.year.unique()) #249 únicos y uno nan

250

In [22]:
df.drop_duplicates(subset ='name', keep = False, inplace = True)   #Eliminar duplicados

df.shape

(5142, 24)

In [ ]:
#df.year.fillna(0) #Rellenar el NaN con un 0

In [ ]:
#len(df.year.unique()) #YASSS

In [23]:
null_cols = df.isnull().sum()   #Valores nulos de las columnas
null_cols[null_cols > 0]

drop_cols = list(null_cols[null_cols > 2000].index) #quitar todas las que tengan más de 2000
data = df.drop(drop_cols, axis=1)

#data.shape
df.shape
#si ignoramos por descarte las dos columnas de troleo, solo tenemos que preocuparnos por las columnas de de +5000 valores, las demás son bastante homogéneas en número

(5142, 24)

In [24]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5142 entries, 0 to 6300
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   case_number          5141 non-null   object
 1   date                 5142 non-null   object
 2   year                 5140 non-null   float64
 3   type                 5141 non-null   object
 4   country              5108 non-null   object
 5   area                 4822 non-null   object
 6   location             4756 non-null   object
 7   activity             4807 non-null   object
 8   name                 5142 non-null   object
 9   sex                  4785 non-null   object
 10  age                  3123 non-null   object
 11  injury               5124 non-null   object
 12  fatal_yn             4756 non-null   object
 13  time                 2607 non-null   object
 14  species              2993 non-null   object
 15  investigator_source  5132 non-null   object
 16  pdf                  5142 non-null   object
 17  href_formula         5141 non-null   object
 18  href                 5142 non-null   object
 19  case_n1              5142 non-null   object
 20  case_n2              5142 non-null   object
 21  original_order       5142 non-null   float64
 22  unnamed_2            1 non-null      object
 23  Unnamed_3            2 non-null      object
dtypes: float64(2), object(22)
memory usage: 7.7 MB

In [ ]:
#ahora hay que arreglar tabla por tabla
#Cambiar todos los índices. En función de qué columna? Puede ser de las fechas porque tiene más

In [ ]:
#df['Year']
#year_null = df.Year.isnull().sum()   #Valores nulos en la columna de Year
#len(df.Date.unique())  #5434 Valores únicos, extensión de 8703 valores

In [25]:
df.index  
#df.at[22, 'unnamed_2'] ==
filt = (df['unnamed_2']) == 'stopped here'
filt.unique().sum()
filt

0       False
1       False
2       False
4       False
5       False
        ...
6290    False
6291    False
6292    False
6298    False
6300    False
Name: unnamed_2, Length: 5142, dtype: bool

In [26]:
#df.activity.unique()   #hay 1115 actividades diferentes

df.activity.drop_duplicates()

0                                                Paddling
1                                                Standing
2                                                 Surfing
4                                             Free diving
5                                            Kite surfing
                              ...
6271                               Spent 8 days in dinghy
6274                                  Wooden fishing boat
6281    Swimming in pool formed by construction of a w...
6284                        Swimming around anchored ship
6287                 Wreck of  large double sailing canoe
Name: activity, Length: 1255, dtype: object

In [50]:
df.case_number.replace('\.','-', regex=True, inplace = True)   #cambiar el punto por - para que sirva en datetime
df.case_number.replace('[a-zA-Z]',' ', regex=True, inplace = True) #quitar letras. Creo que hay que mergear columnas

#df.case_number=pd.to_datetime(df.case_number, format='%y-%m-%d')

In [ ]:
data['year'] = data['year'].astype('object')
data['year'].dtype

In [ ]:
df.groupby('year').count()

In [ ]:
data['year'] = data['year'].astype('object')
data['year'].dtype
df.groupby('year').count()
#df.year

In [ ]:
plt.figure(figsize = (15,5))
sns.histplot(data=df, x="year")
plt.show()

In [ ]:
df = df.loc[df['year'] > 1900,:]   #casi toda la información se concentra en registros del S.XX. Con el loc se encuentra y se chopea
table = df.groupby('year').count()
table.head()

In [ ]:
plt.figure(figsize = (15,5))   #nuevo cuadro cortado, desde el S.XX hasta 2018 (que no hay más datos)
sns.histplot(data = table, x = 'year')
plt.show()

In [ ]:
#Para borrar filas DESPUÉS
#cols=['id', 'host_id', 'host_name'
#airbnb.drop(cols, axis=1, inplace=True)